*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: #63bdf7;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50 !important;
}
.shadow{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
}
.demo {
  position: absolute;
  left: 50%;
  top: 25px;
  width: 55vh;
  height: 100vh;
  margin-left: -25vh;
  background: #f6f6f5;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.demo__content {
  margin-top: -60px;
  padding-top: 60px;
  overflow: hidden;
  position: relative;
  height: 96%;
  user-select: none;
}
.demo__card-cont {
  position: relative;
  width: 98%;
  margin-left: 1%;
  height: 83%;
}
.demo__card {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
}
.demo__card.reset {
  transition: transform 0.3s;
  transform: translateX(0) !important;
}
.demo__card.reset .demo__card__choice {
  transition: opacity 0.3s;
  opacity: 0 !important;
}
.demo__card.inactive {
  transition: transform 0.3s;
}
.demo__card.to-left {
  transform: translateX(-30rem) rotate(-30deg) !important;
}
.demo__card.to-right {
  transform: translate(30rem) rotate(30deg) !important;
}
.demo__card.below {
  z-index: 1;
}
.demo__card__top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.demo__card__name {
  margin: 0 0 0 15px;
  font-size: 25px;
  font-weight: bold;
  color:#fff;
  z-index: 1;
}
.demo__card__container{
  position: absolute;
  bottom: 0;
  padding-top: 8px;
  padding-bottom: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.774));
  border-radius: 10px;
  width: 100%;
  height: 85px;
}
.demo__card__sinfo {
  margin-left: 15px;
  color: #fff;
}
.demo__card__we {
  text-align: center;
  font-size: 2.2rem;
  line-height: 11.5rem;
}
.demo__card__choice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.demo__card__choice:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.demo__card__choice:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 1.5rem;
  margin-left: -2rem;
  border: 0.6rem solid #fff;
  border-bottom: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.demo__card__choice.m--reject {
  border-radius: 10px;
  background: #ff945a;
}
.demo__card__choice.m--like {
  border-radius: 10px;
  background: #b1da96;
}
.demo__card__choice.m--like:after {
  transform: scaleY(-1);
}
.demo__card__drag {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: grab;
}
.demo__tip {
  text-align: center;
  font-size: 2.2rem;
}

.imgInfo {
  position:absolute;
  right:20px;
  bottom:4%;
  z-index:2;
}
#clickInfo {
  position:absolute;
  right:20px;
  bottom:4%;
  z-index:5;
  cursor:pointer;
}
#cv {
  width: 100%;
}
#apps {
  left: 50%;
  width: 55vh;
  height: 100vh;
  margin-left: -25vh;
  position: absolute;
  margin-top: 25px;
}
#header {
  left: 50%;
  width: 55vh;
  margin-left: -25vh;
  position: absolute;
}
#txt {
  font-size: 11.5px;
  font-weight: bold;
  top: 5.5px;
  left: 50%;
  margin-left: calc(7px - 25vh);
  position: absolute;
  color: rgb(206, 206, 206);
  z-index: 20;
}
#match{
  left: 50%;
  width: 55vh;
  height: 100vh;
  margin-left: -25vh;
  position: absolute;
  margin-top: 25px;
  z-index: 15;
}
.closeApp {
  transform:scale(0);
  transform-origin: 13% 69%;
  transition-property: transform;
  transition-duration: 0.8s;
}
.openApp {
  transform:none;
}
.containerPhoto {
  border: 2px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 100%;
  width: 36%;
  height: 20%;
  background-color: rebeccapurple;
  position: absolute;
  top: 30.2%;
}
.containerPhoto.c2 {
  top: 53%;
}